<div id="container">
    <ul class="nav nav-tabs">
        <li class="nav-item ">
            <a class="nav-link text-white" routerLink="/lineChart">Linea</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/doughnutChart">Circular</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/pieChart">Torta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/barChart">Barra</a>
        </li>
    </ul>
</div>