<app-nav></app-nav>

<!--Begin title-->
<div class="row">
    <div class="col-md-12 d-flex justify-content-start">
        <strong class="title">Imagenes</strong>
    </div>	
</div>
<!--Ends title-->


<!--Begin row modal-->
<div class="row">
    <!--Begin col modal-->
    <div class="col-md-12 d-flex justify-content-start">
        <!--Begin panel button-->
        <button  *ngIf="activateRole === 'ADMIN'"
                 [disabled]="!addButton" 
                 id="addp" 
                 type="button" 
                 class="btn btn-dark border border-secondary btn-sm mt-2"
                 routerLink = "/image-form" 
                 [queryParams]="{categoryId: categoryId, imageId: ''}">
                 Agregar imagen
        </button>
        <!--Button trigger modal-->
        <button *ngIf="activateRole === 'ADMIN'"
                id="bId" 
                type="button" 
                class="btn btn-dark border border-secondary btn-sm mt-2" 
                data-toggle="modal" 
                data-target="#formId">
                Buscar  por id
        </button>
        <button id="bId" 
                type="button" 
                [ngClass]="{userPanel: isUser()}"
                class="btn btn-dark border border-secondary btn-sm mt-2" 
                (click)="getImagesButton()">
                Todos las imagenes
        </button>
        <button id="bId" 
                type="button" 
                class="btn btn-dark border border-secondary btn-sm mt-2" 
                (click)="viewState()">
                Cambiar vista
        </button>
        <button *ngIf="activateRole === 'ADMIN'"
                id="bId" 
                type="button" 
                class="btn btn-dark border border-secondary btn-sm mt-2" 
                (click)="adminViewState()">
                Vista admin
        </button>
        <!--Ends panel button-->

        <!--Begin modal form-->
        <div class="modal fade bg" id="formId" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div [hidden]="showForm" class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h5 class="modal-title">Buscar imagen por id</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="text-white" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #imageForm = "ngForm" (ngSubmit)="getImageById(imageForm)" >
                            <div class="form-group">
                                <label for="imageId">Id de la imagen</label>
                                <input ngModel type="number" class="form-control form-control-sm" id="imageId" name="imageId">
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm mr-2">Buscar</button>
                            <button #closeModal type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                        </form>
                    </div>
                </div>
                <!--Snippets loading begin-->
                <div *ngIf="showSpinners" class="align-self-center" role="status" id="spinnersContent">
                    <div class="spinnersSubContent">
                        <span class="spinner-grow text-primary float-left"></span>
                        <span class="spinner-grow text-warning float-left"></span>
                        <span class="spinner-grow text-danger"></span>
                    </div>
                    <div *ngIf="showSpinners" class="loadText">
                        <span class="d-flex justify-content-center text-white">Searching...</span>
                    </div>
                </div>
                <!--Snippets loading ends-->
            </div>
        </div>
        <!--Ends form modal-->
    </div>
    <!--Ends col-->
</div>
<!--Ends row-->

<!--Begin row-->
<div class="row">
    <div class="col-md-11" id="tableParams">
        <!--Begin panel search--> 
        <table class="table table-sm table-dark m-auto">
            <tbody>
                <tr class="row m-auto">
                    <td class="col-sm-4">
                        <label for="imageName">Nombre de la imagen</label>
                        <input (keyup)="getImageByName($event)" 
                               type="text" 
                               class="form-control form-control-sm" 
                               id="imageName" 
                               name="imageName">
                    </td>
                    <td class="col-sm-4" id="tdTypes">
                        <label for="imageType">Tipo de la imagen</label><br>
                        <select class="custom-select custom-select-sm" 
                                id="imageType" 
                                name="imageType" 
                                [disabled]="types?.length === 0"
                                (change)="getImageByType($event)">
                                <option value=""></option>
                                <option [value]="type" *ngFor="let type of types">{{type}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--Ends panel search-->
    </div>	
</div>
<!--Ends row-->


<!--Begin row-->
<div *ngIf="adminView" class="row imagePage">
    <div class="col-md-11" id="table">
        <!--Begin table products-->
        <table class="table table-sm table-striped table-dark" id="rwd-table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Foto</th>
                    <th scope="col">Id categoria</th>
                    <th scope="col">Nombre categoria</th>
                    <th scope="col">Modificar</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="images.length === 0">
                    <td class="font-weight-bold" colspan="11">Aun no hay imagenes para esta categoria</td>
                </tr>
                <tr *ngFor="let image of images">
                    <td class="font-weight-bold">{{image.id}}</td>
                    <td>{{image.name}}</td>
                    <td>{{image.type}}</td>
                    <td>
                        <a class="btn btn-sm btn-info" 
                           ngbPopover= {{image.description}}
                           popoverTitle="Descripcion" 
                           popoverClass="popoverC"> 
                           Ver descripcion
                        </a>
                    </td>
                    <td>
                        <a class="photo" [href]="image.photo">
                            <i class="far fa-image"></i>
                        </a>
                    </td>
                    <td class="font-weight-bold">{{image.categoryId}}</td>
                    <td>{{image.categoryName}}</td>
                    <td>
                        <a class="btn btn-sm btn-warning text-dark" 
                           routerLink = "/image-form" 
                           [queryParams]="{imageId: image.id}">
                           <i class="fas fa-highlighter"></i> 
                           Modificar
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-danger" 
                           (click)= "areYouSure(image.id)">
                           <i class="far fa-trash-alt"></i> 
                           Eliminar
                        </a>  
                    </td>
                </tr>
            </tbody>
        </table>
        <!--Ends table products-->
    </div>
</div>
<!--Ends row-->

<!--Begin row list cards-->
<div *ngIf="listCardView" class="row imagePage">
    <div class="list-group-item d-flex flex-row bd-highlight bg-dark noInfo" *ngIf="images.length === 0">
        <strong class="text-white font-italic">Aun no hay imagenes para esta categoria</strong>
    </div>
    <div [ngClass]="{bigEntrance: enter}" class="col-8 col-sm-5 col-md-3 col-lg-3 col-xl-2 card bg-dark text-white" id="cards"  *ngFor="let image of images">
        <a [href]="image.photo"><img class="card-img-top" [src]="isUknownImage(image.photo)" alt="Card image cap"></a>
        <div class="card-body">
            <span class="badge badge-primary">{{image.categoryName}}</span>
            <h5 class="card-title">{{image.name}}</h5>
            <a class="btn btn-sm btn-primary mr-1"
               [href]= "image.photo">
               Ver
               <i class="fas fa-angle-double-right"></i>
            </a>
            <a class="btn btn-sm btn-danger" 
                ngbPopover= {{image.description}}
                popoverTitle="Descripcion" 
                popoverClass="popoverC"
                placement="top" 
                ngbTooltip="Descripcion"> 
                <i class="fas fa-angle-double-up"></i>
            </a>
        </div>
    </div>
</div>
<!--List cards ends-->

<!--Begin row list group-->
<div *ngIf="listGroupView" class="row imagePage">
    <div class="col-md-11" id="table">
        <ul class="col-sm-12 col-md-12 col-lg-10 col-xl-10 list-group mt-3">
            <li class="list-group-item d-flex flex-row bd-highlight bg-dark" *ngIf="images.length === 0">
                <strong class="text-white font-italic">Aun no hay imagenes para esta categoria</strong>
            </li>
            <li class="list-group-item d-flex flex-row bd-highlight" *ngFor="let image of images">
                <img class="imgList" 
                    [src]="isUknownImage(image.photo)" 
                    alt="Card image cap">
                <div class="align-items-start nameListDiv">
                    <span class="badge badge-primary categoryNameList">{{image.categoryName}}</span>
                    <p class="nameList font-weight-normal">{{image.name}}</p>
                    <p class="badge badge-primary mpList">Haganos su consulta</p><br>
                    <a class="btn btn-primary btn-sm" [href]="image.photo">
                        Ver
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                    <a class="btn btn-sm btn-dark text-white buttonInfo" 
                       ngbPopover= {{image.description}}
                       popoverTitle="Descripcion" 
                       popoverClass="popoverC"
                       placement="top" 
                       ngbTooltip="Descripcion"> 
                       <i class="fas fa-angle-double-up"></i>
                    </a>
                </div>           
                <div class="align-items-start consultInfo">
                    <a class="moreInfoWhatss" href="https://wa.me/5491140631519" target="_blank" placement="bottom" ngbTooltip="Consultas wp">
                        <i class="fab fa-whatsapp"></i>
                    </a><br>
                    <a class="moreInfoMail" href="mailto:marmolfenix@hotmail.com" placement="bottom" ngbTooltip="Mail">
                        <i class="fas fa-at"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--List group ends-->

<app-show-sales></app-show-sales>
<app-show-purchases></app-show-purchases>
<app-show-cart-amount></app-show-cart-amount>

<app-footer></app-footer>
