<app-nav></app-nav>

<!--Begin title-->
<div class="row">
    <div class="col-md-12 d-flex justify-content-start">
        <strong class="title">Sales</strong>
    </div>	
</div>
<!--Ends title-->


<!--Begin row modal-->
<div class="row">
    <!--Begin col modal-->
    <div class="col-md-12 d-flex justify-content-start">
        <!--Begin panel button-->
        <button  id="SalesPerYear" 
                 type="button" 
                 class="btn btn-dark border border-secondary btn-sm mt-2"
                 routerLink = "/barChart">
                 Graficos
        </button>
        <button  id="allSales" 
                 type="button" 
                 class="btn btn-dark border border-secondary btn-sm mt-2"
                 (click)="getSales()">
                 Todas  las ventas
        </button>
        <!--Button trigger modal-->
        <button id="bId" 
                type="button" 
                class="btn btn-dark border border-secondary btn-sm mt-2" 
                data-toggle="modal" 
                data-target="#formId">
                Buscar  por id
        </button>
        <!--Ends panel button-->

        <!--Begin modal form-->
        <div class="modal fade bg" id="formId" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div [hidden]="showForm" class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h5 class="modal-title">Buscar producto por id</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="text-white" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #saleForm = "ngForm" (ngSubmit)="getSaleById(saleForm)" >
                            <div class="form-group">
                                <label for="saleId">Id de la venta</label>
                                <input ngModel type="number" class="form-control form-control-sm" id="saleId" name="saleId">
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm mr-2">Buscar</button>
                            <button #closeModal type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                        </form>
                    </div>
                </div>
                <!--Snippets loading begin-->
                <div *ngIf="showSpinners" class="align-self-center" role="status" id="spinnersContent">
                    <div class="spinnersSubContent">
                        <span class="spinner-grow text-primary float-left"></span>
                        <span class="spinner-grow text-warning float-left"></span>
                        <span class="spinner-grow text-danger"></span>
                    </div>
                    <div *ngIf="showSpinners" class="loadText">
                        <span class="d-flex justify-content-center text-white">Searching...</span>
                    </div>
                </div>
                <!--Snippets loading ends-->
            </div>
        </div>
        <!--Ends form modal-->
    </div>
    <!--Ends col-->
</div>
<!--Ends row-->

<!--Begin row-->
<div class="row">
    <div class="col-md-11" id="tableParams">
        <!--Begin panel search--> 
        <table class="table table-sm table-dark m-auto">
            <tbody>
                <tr class="row m-auto" id="tdUserName">
                    <td class="col-sm-4">
                        <label for="userName">Nombre de usuario</label>
                        <input (keyup)="getUserName($event)" 
                               type="text" 
                               class="form-control form-control-sm" 
                               id="userName" 
                               name="userName">
                    </td>
                    <td class="col-sm-4" id="tdEmail">
                        <label for="userMail">Email</label>
                        <input (keyup)="getUserMail($event)" 
                               type="text" 
                               class="form-control form-control-sm" 
                               id="userMail" 
                               name="userMail">
                    </td>
                    <td class="col-sm-4" id="tdDate">
                        <label for="date">Fecha año-mes-dia</label>
                        <input (keyup)="getSaleByDate($event)" 
                               type="text" 
                               class="form-control form-control-sm" 
                               id="date" 
                               name="date">
                    </td>
                    <td class="col-sm-4" id="tdDelivered">
                        <label for="delivered">Entregas</label><br>
                        <select class="custom-select custom-select-sm" 
                                id="delivered" 
                                name="delivered" 
                                (change)="getDelivered($event)">
                                <option value="null"></option>
                                <option value="true">Entregadas</option>
                                <option value="false">A entregar</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--Ends panel search-->
    </div>	
</div>
<!--Ends row-->


<!--Begin row-->
<div class="row salePage">
    <div class="col-md-11" id="table">
        <!--Begin table products-->
        <table class="table table-sm table-striped table-dark" id="rwd-table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">User name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Cuotas</th>
                    <th scope="col">Status</th>
                    <th scope="col">Medio de pago</th>
                    <th scope="col">Tarjeta</th>
                    <th scope="col">Total</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Entregas</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="isEmptySales()">
                    <td class="font-weight-bold" colspan="11">Aun no hay ventas</td>
                </tr>
                <tr *ngFor="let sale of sales">
                    <td class="font-weight-bold">{{sale.id}}</td>
                    <td class="font-italic">
                        <a class="btn btn-sm btn-info" 
                           ngbPopover= {{sale.sale_detail}}> 
                           Detalle
                        </a>
                    </td>
                    <td>{{sale.userName}}</td>
                    <td>
                        <a class="mail" [href]="'mailto:' + sale.userMail"><i class="fas fa-envelope"></i></a>
                    </td>
                    <td>{{sale.installments}}</td>
                    <td>{{sale.status}}</td>
                    <td>{{sale.payment_method_id}}</td>
                    <td>{{sale.payment_type_id}}</td>
                    <td class="font-weight-bold">${{sale.total}}</td>
                    <td>
                        <a class="btn btn-sm btn-info" 
                           ngbPopover= {{sale.date_approved}}> 
                           Fecha
                        </a>
                    </td>
                    <td>
                        <a *ngIf="wasDelivered(sale.delivered)"
                           class="btn btn-sm btn-success text-dark" 
                           (click)= "changeDeliver(sale)">
                           <i class="fas fa-check-circle"></i> 
                           Entregada
                        </a>  
                        <a *ngIf="!wasDelivered(sale.delivered)"
                           class="btn btn-sm btn-warning text-dark" 
                           (click)= "changeDeliver(sale)">
                           <i class="fas fa-shipping-fast"></i> 
                           No entregada
                        </a>  
                    </td>
                    <td>
                        <a class="btn btn-sm btn-danger" 
                           (click)= "areYouSure(sale.id)">
                           <i class="far fa-trash-alt"></i> 
                           Eliminar
                        </a>  
                    </td>
                </tr>
            </tbody>
        </table>
        <!--Ends table products-->
    </div>
</div>
<!--Ends row-->

<app-footer></app-footer>
